<div class="panel__bg"></div>
<h1>#2 A flagrant myth</h1>
<p>
    Our story starts in the middle, with a disappearance. A slow decay that
    pulls brick from brick and the white paint peeling from walls like the
    fingers of a ghost. Shutters fall on the shops, houses crumble like dust.
    People turn into creatures half-human, half-goat. They defecate into the
    hollows of blasted trees, they gnaw at the grass that springs from ruined
    walls. As the days pass they are no longer visible; they have dissolved into
    a primeval music...
</p>
