<div class="panel__bg"></div>
<h1>#2 A flagrant myth</h1>
<div class="content">
    <p>
        We have entered the doorway; we stand before a staircase enshrouded
        almost completely in this sullen, almost suffocating darkness. Here we
        shall pause for our preliminary investigations, in which we shall
        attempt to use only the naked eye… On the beginning parts of these
        bronze railings you can perceive heavy flakes of coppery rust, and if we
        move along here there is what appears to be… My God! The paint has been
        scuffed away here and here in the shape of teeth marks, almost as if
        they have been made by wild animals or in any case an inhuman, savage
        creature… What has happened in the confines of this darkness, what
        secrets might it hold… And if we look closer here you can see a dent,
        then another, in the handles of the railings, that coupled with the
        absolute stillness of the environment, seems to suggest a supernatural
        violence… Can it be that the disturbed spirits of the dead have pervaded
        this ancient hallway?
    </p>

    <p>
        <i
            >(A powerful flashlight suddenly flicks on and beams a tunnel of
            white light onto the walls. We glimpse the outlines of a staircase
            and a mailbox, most distinctly ordinary-looking.)</i
        >
    </p>

    <p>
        Goddammit, (indistinct) out! <i>(The light abruptly flicks out.)</i>
    </p>

    <p>
        Ahem! And so, as we come upon this most extraordinary mystery in this
        most ancient and haunted house, we shall presently begin to use our
        ghost sensor, which shall hopefully aid us in discovering the auras of
        the supernatural presences...
    </p>

    <p><i>(A long, angry goat’s bleat.)</i></p>

    <p>
        My god, what is that sound? Did you hear it, did you hear it? Can it be
        an animal spirit that has returned to haunt the building in which its
        owner has tragically, tragically perished?
    </p>

    <p>
        <i>(A faint, quick scuffling sound. A low, long, angry bleat.)</i>
    </p>

    <p>
        <i>(Shakily, fearfully)</i> Can it be a stray after all? Yes (hastily), yes,
        I daresay it must be, a stray that… Aaarrrgh!
    </p>

    <p>
        [Cue stop-motion sequence of a goat-man tearing up the
        screen/photograph.]
    </p>
</div>
