body {
    background-image: url(../assets/images/textures/paper_texture.avif);
    background-size: 20%;
    overflow: auto;
}

.grid {
    margin: 6rem;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, max-content);
    justify-items: center;
    align-items: center;
    gap: 12rem;
}

.grid__panel {
    max-width: 18rem;
}

.grid__img {
    max-width: 100%;
    max-height: 20rem;
    width: auto;
}

.street {
    position: absolute;
    top: 50rem;
    left: 50rem;
}

.enlarged-img {
    width: 45rem;
}

.enlarged-img > img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 40rem;
    width: auto;
}