body {
    /* overflow: hidden; */
    background-color: var(--bg-color);
}

main {
    margin-left: 6rem;
    padding: 1rem 2rem 0 0;
    border-top: 1px solid;
    border-left: 1px solid;
}


article.story {
    min-height: 100vh;
    background-size: cover;
    background-position: center top;
    padding-bottom: 6rem;
}

.header {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    padding-left: 5rem;
}

.header__desc {
    margin-left: 0.5em;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

h1 {
    position: relative;
    font-family: "Italiana", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.01rem;
    font-size: 10vw;
}

.cover-gallery {
    display: flex;
    justify-content: left;
    /* margin-left: 10vw; */
    gap: 4vw;
    align-items: center;
    margin-bottom: 3rem;
}

.gallery__img {
    max-width: 90%;
    width: calc(25rem + 10vmax);
    transition: all 0.2s ease-in-out;
}

.para {
    width: 50rem;
    font-family: "Newsreader", serif;
}

.para .large {
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.1rem;
}

p {
    color: rgb(0, 0, 0);
    color: #e2a9cc;
    color: black;
}